# ───────── Dependencies ─────────
node_modules/

# ───────── Expo / Bundler ─────────
.expo/
.expo-shared/
dist/
web-build/
.metro-health-check*

# ───────── Native builds / artifacts ─────────
# If you NEVER edit native code (pure managed Expo), you can ignore entire folders:
# android/
# ios/

# Otherwise, keep android/ and ios/ tracked,
# and ignore only build outputs:
android/.gradle/
android/.idea/
android/app/build/
android/build/
ios/Pods/
ios/build/

# ───────── Keystores / certs / secrets ─────────
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# ───────── Debug / logs ─────────
npm-debug.*
yarn-debug.*
yarn-error.*

# ───────── OS / editor ─────────
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# ───────── TypeScript ─────────
*.tsbuildinfo

# ───────── Local env files ─────────
.env*.local
.env

# ───────── For generate apk or aab file android─────────
# Production AAB for Play Store
npx eas build --platform android --profile production
# Internal APK for testers
npx eas build --platform android --profile preview
# Dev client build
npx eas build --platform android --profile development

