<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657765567447-56m59nf3ovdvkjj3be5h5gg5k1lnph6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657765567447-56m59nf3ovdvkjj3be5h5gg5k1lnph6p</string>
	<key>API_KEY</key>
	<string>AIzaSyAiazb76qyxL4Y8dfuKHZ4SithYBYyWBEM</string>
	<key>GCM_SENDER_ID</key>
	<string>657765567447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moc.myschoolParentIos</string>
	<key>PROJECT_ID</key>
	<string>myschoolparent-93a89</string>
	<key>STORAGE_BUCKET</key>
	<string>myschoolparent-93a89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657765567447:ios:8b24dff8ed0b46a7f7d992</string>
</dict>
</plist>